.idea/
*.iml
*.iws
*.ipr
.idea_modules/
out/
atlassian-ide-plugin.xml

__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

venv/
ENV/
env/
.venv/
.env/
env.bak/
venv.bak/

.ipynb_checkpoints

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db


*.log
*.tmp
*.temp

*.csv
*.xlsx
*.xls
*.db
*.sqlite3

.env